*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playlist_wrapper {
    position: relative;
}
.parent_wrapper .image_checkbox_playlist{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99999 !important;
}
.parent_wrapper .image_checkbox_playlist{
    opacity: 0;
    transition: all 0.3s ease-out;
}
.parent_wrapper:hover .image_checkbox_playlist{
    opacity: 1;
    transition: all 0.3s ease-out;
    z-index: 99999 !important;
}
.playlist_wrapper:hover .playlist_wrapper{
    z-index: -1 !important;
}
input[type="checkbox"].image_checkbox_playlist{
    position: relative;
    top: 35px;
    right: -195px;
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 16px;
	width: 16px;
	-webkit-appearance: none;
    opacity: 0;
    border-radius : 50px;
    z-index: 9 !important;
    border: 1px solid #71717A;
}
input[type=checkbox].image_checkbox_playlist:checked {
    background-color: #FF7C44;
    border: none;
    z-index: 9 !important;
    opacity: 1;
}
  input[type=checkbox].image_checkbox_playlist:checked:before{
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border-width: 0 2px 2px 0;
    margin: -1px 0px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 99999 !important;
  }

  /* List view css starts here  */

  .parent_wrapper .image_checkbox_playlist_listview{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99999 !important;
}
.parent_wrapper .image_checkbox_playlist_listview{
    opacity: 0;
    transition: all 0.3s ease-out;
}
.parent_wrapper:hover .image_checkbox_playlist_listview{
    opacity: 1;
    transition: all 0.3s ease-out;
    z-index: 99999 !important;
}
.playlist_wrapper:hover .playlist_wrapper{
    z-index: -1 !important;
}
input[type="checkbox"].image_checkbox_playlist_listview{
    position: relative;
    top: 12px;
    left: 94%;
	border-radius: 2px;
	background: none;
	cursor: pointer;
	line-height: 0;
	margin: 0 .6em 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 16px;
	width: 16px;
	-webkit-appearance: none;
    opacity: 0;
    border-radius : 50px;
    z-index: 9 !important;
    border: 1px solid #71717A;
}
input[type=checkbox].image_checkbox_playlist_listview:checked {
    background-color: #FF7C44;
    border: none;
    z-index: 9 !important;
    opacity: 1;
}
  input[type=checkbox].image_checkbox_playlist_listview:checked:before{
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border-width: 0 2px 2px 0;
    margin: -1px 0px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 99999 !important;
  }