@media (min-width: 769px) and (max-width: 1024px) {
  .dropdown_wd {
    width: calc(100vw - 735px);
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .dropdown_wd {
    width: calc(100vw - 735px);
  }
}
@media (min-width: 1281px) and (max-width: 1536px) {
  .dropdown_wd {
    width: calc(100vw - 1150px);
  }
}
@media (min-width: 1537px) {
  .dropdown_wd {
    width: calc(100vw - 1310px);
  }
}

.content_reduce{
  position: relative;
}
.content_reduce::before{
  content: '...';
    position: absolute;
    top: 7px;
    right: 28px;
    width: 8%;
    height: 80%;
    background-color: #fff;
    z-index: 9 !important;
}